/*
Theme Name: Bai Divi Child
Theme URI: https://www.odsoluciones.com
Template: Divi
Author: OD
Author URI: https://www.odsoluciones.com
Description: Online course
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.4.3.1587127256
Updated: 2020-04-17 08:40:56

*/
@media (min-width: 768px) {
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#top-header {
  z-index: 1000;
}

#main-header {
  z-index: 2000;
}

@media (min-width: 768px) {
  #main-header .logo_container {
    top: -10px;
  }
}

.et-fixed-header {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.blog-hero article {
  background: none !important;
  border: 0 !important;
}

@media (min-width: 768px) {
  .blog-hero article {
    margin-bottom: 0;
  }
}

#new-royalslider-1 {
  background: transparent;
}

#new-royalslider-1 .rsOverflow {
  background: transparent;
}

#new-royalslider-1 .rsNav {
  height: initial;
}

@media (min-width: 992px) {
  #new-royalslider-1 .rsNav {
    position: absolute;
    bottom: 100px;
    background: transparent;
  }
}

#new-royalslider-1 .rsNav .rsThumbsArrowLeft,
#new-royalslider-1 .rsNav .rsThumbsArrowRight {
  display: none !important;
}

#new-royalslider-1 .rsNav .rsThumbsContainer {
  -webkit-transform: initial !important;
          transform: initial !important;
  width: 100% !important;
}

@media (min-width: 992px) {
  #new-royalslider-1 .rsNav .rsThumbsContainer {
    margin-left: 30px;
  }
}

#new-royalslider-1 .rsNav .rsThumbsContainer .rsNavItem {
  height: initial;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-left: 2px solid #8b643f;
}

@media (min-width: 992px) {
  #new-royalslider-1 .rsNav .rsThumbsContainer .rsNavItem {
    margin-right: 20px;
    width: 240px;
  }
}

#new-royalslider-1 .rsNav .rsThumbsContainer .rsNavItem.rsNavSelected {
  border-left: 6px solid #8b643f;
}

#new-royalslider-1 .rsNav .rsThumbsContainer .rsNavItem .rsTmb {
  margin-top: 0;
  text-align: left !important;
  height: initial;
  padding: 10px 20px;
}

.vertical-tabs1 {
  border: none;
}

.vertical-tabs1 ul.et_pb_tabs_controls {
  float: left;
  width: 30%;
  margin-right: 3%;
  background: transparent;
}

.vertical-tabs1 ul.et_pb_tabs_controls:after {
  content: none;
}

.vertical-tabs1 .et_pb_tabs_controls li {
  width: 100%;
  border-right: none !important;
  border-left: 5px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: rgba(139, 100, 63, 0.37) !important;
}

.vertical-tabs1 .et_pb_tabs_controls li:hover {
  border-color: #8b643f;
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active {
  border-left: 5px solid #8b643f !important;
  background: #cadfde;
}

.vertical-tabs1 .et_pb_tabs_controls li a {
  padding: 40px;
  color: #8b643f;
}

.vertical-tabs1 .et_pb_tabs_controls li a:hover {
  color: white;
}

@media (min-width: 992px) {
  .vertical-tabs1 .et_pb_tabs_controls li a {
    font-size: 17px;
  }
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active a {
  color: #8b643f !important;
}

.vertical-tabs1 .et_pb_tab {
  padding: 0;
}

.vertical-tabs1 .et_pb_tab_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .vertical-tabs1 ul.et_pb_tabs_controls {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .vertical-tabs1 .et_pb_tabs_controls li {
    border-bottom: none;
  }
  .vertical-tabs1 .et_pb_tab {
    padding: 0;
  }
  .vertical-tabs1 .et_pb_tab_content {
    display: block;
  }
}

/* Divi Vertical Tabs 3 */
.vertical-tabs3 {
  border: none;
}

.vertical-tabs3 ul.et_pb_tabs_controls {
  float: left;
  width: 30%;
  margin-right: 3%;
  background: transparent;
}

.vertical-tabs3 ul.et_pb_tabs_controls:after {
  content: none;
}

.vertical-tabs3 .et_pb_tabs_controls li {
  width: 100%;
  border-right: none;
  background: rgba(244, 244, 244, 0.5);
  margin-bottom: 10px;
}

.vertical-tabs3 .et_pb_tabs_controls li.et_pb_tab_active {
  background: #ececec;
}

.vertical-tabs3 .et_pb_tabs_controls li a {
  padding: 10px;
}

.vertical-tabs3 .et_pb_tabs_controls li.et_pb_tab_active a {
  color: #3339ff !important;
}

.vertical-tabs3 .et_pb_tabs_controls li a:before {
  font-family: ETmodules;
  padding-right: 5px;
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(1) a:before {
  content: "\e104";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(2) a:before {
  content: "\e0e9";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(3) a:before {
  content: "\e109";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(4) a:before {
  content: "\e0ec";
}

.vertical-tabs3 .et_pb_tab {
  padding: 0;
}

.vertical-tabs3 .et_pb_tab_content {
  background: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 767px) {
  .vertical-tabs3 ul.et_pb_tabs_controls {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .vertical-tabs3 .et_pb_tabs_controls li {
    border-bottom: none;
  }
  .vertical-tabs3 .et_pb_tab {
    padding: 0;
  }
}

.et_contact_bottom_container {
  float: none !important;
}

#top-menu .current-menu-item a::before,
#top-menu .current_page_item a::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

#top-menu li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: 50%;
  background: #8b643f;
  /*** COLOR OF THE LINE ***/
  height: 3px;
  /*** THICKNESS OF THE LINE ***/
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#top-menu li a:hover {
  opacity: 1 !important;
}

#top-menu li a:hover:before {
  right: 0;
}

#top-menu li li a:before {
  bottom: 10%;
}

#gform_6 .gform_body {
  width: 100%;
}

#gform_6 .gform_body .gform_fields {
  width: 100%;
}

#gform_6 .gform_body .gform_fields .gfield {
  margin: 0;
  padding: 0;
}

#gform_6 .gform_body .gform_fields .gfield .ginput_container_email {
  margin: 0;
}

#gform_6 .gform_body .gform_fields .gfield .ginput_container_email input {
  margin: 0;
}

#gform_6 .gform_footer {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

#gform_6 .gform_footer .gform_button {
  margin: 0;
  width: 100%;
  background: #8b653e;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #8b653e;
}

#gform_8 .gform_footer .gform_button,
#gform_7 .gform_footer .gform_button,
#gform_15 .gform_footer .gform_button {
  margin: 0;
  width: 100%;
  background: #8b653e;
  color: white;
  border-color: #8b653e;
}

#gform_15 .gform_body .gform_fields input {
  background: white;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 20px;
  color: #57585a;
}

#gform_17 .gform_body .gform_fields input {
  background: white;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 20px;
  color: #57585a;
}

#gform_17 .gform_button {
  margin: 0;
  width: 100%;
  background: #c7f7d8;
  color: black;
  border: 0;
}

#gform_17 .gform_button:hover {
  background: #c7f7d8;
}
/*# sourceMappingURL=style.css.map */