#new-royalslider-1 {
  background: transparent;
  .rsOverflow {
    background: transparent;
    .rsContainer {
    }
  }

  .rsNav {
    @include breakpoint(md) {
      position: absolute;
      bottom: 100px;
      background: transparent;
    }
    height: initial;
    .rsThumbsArrowLeft,
    .rsThumbsArrowRight {
      display: none !important;
    }
    .rsThumbsContainer {
      transform: initial !important;
      width: 100% !important;
      @include breakpoint(md) {
        margin-left: 30px;
      }
      .rsNavItem {
        height: initial;
        width: 100%;
        @include breakpoint(md) {
          margin-right: 20px;
          width: 240px;
        }
        box-sizing: content-box;
        transition: all 0.2s;
        border-left: 2px solid #8b643f;
        &.rsNavSelected {
          border-left: 6px solid #8b643f;
        }
        .rsTmb {
          margin-top: 0;
          text-align: left !important;
          height: initial;
          padding: 10px 20px;
        }
      }
    }
  }
}
