.vertical-tabs1 {
  border: none;
}

.vertical-tabs1 ul.et_pb_tabs_controls {
  float: left;
  width: 30%;
  margin-right: 3%;
  background: transparent;
}

.vertical-tabs1 ul.et_pb_tabs_controls:after {
  content: none;
}

.vertical-tabs1 .et_pb_tabs_controls li {
  width: 100%;
  border-right: none !important;
  border-left: 5px solid transparent;
  transition: all 0.2s;
  background: rgba(139, 100, 63, 0.37) !important;
  &:hover {
    border-color: #8b643f;
  }
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active {
  border-left: 5px solid #8b643f !important;
  background: #cadfde;
}

.vertical-tabs1 .et_pb_tabs_controls li a {
  padding: 40px;
  color: #8b643f;
  &:hover {
    color: white;
  }
  @include breakpoint(md) {
    font-size: 17px;
  }
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active a {
  color: #8b643f !important;
}

.vertical-tabs1 .et_pb_tab {
  padding: 0;
}

.vertical-tabs1 .et_pb_tab_content {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .vertical-tabs1 ul.et_pb_tabs_controls {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .vertical-tabs1 .et_pb_tabs_controls li {
    border-bottom: none;
  }

  .vertical-tabs1 .et_pb_tab {
    padding: 0;
  }

  .vertical-tabs1 .et_pb_tab_content {
    display: block;
  }
}

/* Divi Vertical Tabs 3 */

.vertical-tabs3 {
  border: none;
}

.vertical-tabs3 ul.et_pb_tabs_controls {
  float: left;
  width: 30%;
  margin-right: 3%;
  background: transparent;
}

.vertical-tabs3 ul.et_pb_tabs_controls:after {
  content: none;
}

.vertical-tabs3 .et_pb_tabs_controls li {
  width: 100%;
  border-right: none;
  background: rgba(244, 244, 244, 0.5);
  margin-bottom: 10px;
}

.vertical-tabs3 .et_pb_tabs_controls li.et_pb_tab_active {
  background: #ececec;
}

.vertical-tabs3 .et_pb_tabs_controls li a {
  padding: 10px;
}

.vertical-tabs3 .et_pb_tabs_controls li.et_pb_tab_active a {
  color: #3339ff !important;
}

.vertical-tabs3 .et_pb_tabs_controls li a:before {
  font-family: ETmodules;
  padding-right: 5px;
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(1) a:before {
  content: "\e104";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(2) a:before {
  content: "\e0e9";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(3) a:before {
  content: "\e109";
}

.vertical-tabs3 .et_pb_tabs_controls li:nth-child(4) a:before {
  content: "\e0ec";
}

.vertical-tabs3 .et_pb_tab {
  padding: 0;
}

.vertical-tabs3 .et_pb_tab_content {
  background: #ececec;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 767px) {
  .vertical-tabs3 ul.et_pb_tabs_controls {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .vertical-tabs3 .et_pb_tabs_controls li {
    border-bottom: none;
  }

  .vertical-tabs3 .et_pb_tab {
    padding: 0;
  }
}
