/*
Theme Name: Bai Divi Child
Theme URI: https://www.odsoluciones.com
Template: Divi
Author: OD
Author URI: https://www.odsoluciones.com
Description: Online course
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.4.3.1587127256
Updated: 2020-04-17 08:40:56

*/

// ===========
// General
// ===========

//Responsive
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == m {
    @media (max-width: 768px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//Colors
$black: #000;

.align-items-center {
  @include breakpoint(sm) {
    align-items: center;
  }
}

// ===========
// Header
// ===========

#top-header {
  z-index: 1000;
}

#main-header {
  z-index: 2000;
  .logo_container {
    @include breakpoint(sm) {
      top: -10px;
    }
  }
}

.et-fixed-header {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.blog-hero {
  article {
    background: none !important;
    border: 0 !important;
    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }
}
//blog hero royal
@import "royal";
//tabps
@import "tabs";

.et_contact_bottom_container {
  float: none !important;
}

//header
#top-menu .current-menu-item a::before,
#top-menu .current_page_item a::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}
#top-menu li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: 50%;
  background: #8b643f; /*** COLOR OF THE LINE ***/
  height: 3px; /*** THICKNESS OF THE LINE ***/
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#top-menu li a:hover {
  opacity: 1 !important;
}
#top-menu li a:hover:before {
  right: 0;
}
#top-menu li li a:before {
  bottom: 10%;
}

// ===========
// Lading page
// ===========

//email option form

#gform_6 {
  // display: flex;
  // flex-wrap: wrap;
  .gform_body {
    width: 100%;
    // @include breakpoint(md) {
    //   width: 75%;
    // }
    .gform_fields {
      width: 100%;
      .gfield {
        margin: 0;
        padding: 0;
        .ginput_container_email {
          margin: 0;
          input {
            margin: 0;
          }
        }
      }
    }
  }
  .gform_footer {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    .gform_button {
      margin: 0;
      width: 100%;
      background: #8b653e;
      color: white;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: #8b653e;
    }
  }
}

#gform_8,
#gform_7,
#gform_15,
#gform_18 {
  .gform_footer {
    .gform_button {
      margin: 0;
      width: 100%;
      background: #8b653e;
      color: white;
      border-color: #8b653e;
    }
  }
}

#gform_15 {
  .gform_body {
    .gform_fields {
      input {
        background: white;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        font-size: 20px;
        color: #57585a;
      }
    }
  }
}

#gform_17 {
  .gform_body {
    .gform_fields {
      input {
        background: white;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        font-size: 20px;
        color: #57585a;
      }
    }
  }
  .gform_button {
    margin: 0;
    width: 100%;
    background: rgb(199, 247, 216);
    color: black;
    border: 0;
    &:hover {
      background: rgb(199, 247, 216);
    }
  }
}
